body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.compare-fields {
    display: flex;
    justify-content: center;
    align-items: center;
}

.compare-fields div {
    min-width: 50px;
}

.compare-fields .compare-input {
    width: 30%;
}

.compare-vs {
    margin: 20px;
}

@media only screen and (max-width: 900px) {
    .compare-fields {
       flex-direction: column;
    }
    .compare-input {
        width: 100% !important;
    }
    .compare-input input {
        margin: auto;
    }
}

    .compare-fields .bc-wrapper {
        width: 100%;
    }

    .full {
        width: 100% !important;
    }